body {
  margin: 30px;
  background: url("/images/trianglify2.svg") no-repeat;
  background-size: cover;
}

.plumtree-logo {
  /* text-shadow: 0 0 10px rgba(80, 80, 80, 0.3); */
  padding: 20px 30px 30px 30px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 31px;
  color: white;
  position: absolute;
  font-style: italic;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.20);
  max-width: 650px;
  padding: 5px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;

}
.grid-container > div {
  text-align: center;
  padding: 20px 30px;
}
.header-container,
.title-container,
.description-container,
.category-container,
.save-container,
.cancel-container {
  grid-column: 1/4;
  margin-bottom: -18px !important;
}
.image-path-container {
  grid-column: 1/3;
  margin-right: -36px;
}
.price-container {
  grid-column: 3/4;
}

.parent-header-text {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.3px;
  margin: 0 auto;
  padding: 30px 10px 13px 10px;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

}
.child-header-text {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-top: 8px;
  margin-left: 40px;
  margin-bottom: 25px;
  padding-right: 40px;
  letter-spacing: -0.3px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


/* INPUT BOX START */

#input-box-container {
  position: relative;
  width: 100%;
}
.input-box {
  width: 100% !important;
  height: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border: transparent !important;
  background-color: rgba(255, 255, 255, 0.2);
}
.text-area {
  opacity: 1;
}
span { /* click span effect */
  position: absolute;
  left: 0%;
  content: '';
  height: 40px;
  background: rgba(255, 255, 255, 0.66);
  transition: all 0.5s linear;
  width: 0;
  bottom: 0px;
  opacity: 0.1;
}
input:hover, input:focus ~ span {
  width: 100.4%;
  transition: 0.5s ease;
  cursor: text;
}
input[type="text"], textarea { /* no border outline of input box */
  outline: none;
  box-shadow: none !important;
  font-style: italic;
  text-indent: 15px;
  color: rgba(255, 255, 255, 0.84);
}
input:focus::-webkit-input-placeholder { /* placeholder text disappears on click */
  color: transparent;
  transition: 0.3s ease-in-out;
}

::placeholder {
  color: rgba(255, 255, 255, 0.84);
}

/* --- INPUT END --- */



/* --- CATEGORIES START --- */

.main-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;

}
.main-category-container > div {
  background-color: rgb(250, 250, 250, 0.5);
  height: 30px;
  padding-top: 9.5px;
}
input[type="checkbox"]{
  opacity: 0;
  width: 0;
}
label[for="sunday"],
label[for="monday"],
label[for="tuesday"],
label[for="wednesday"],
label[for="thursday"],
label[for="friday"],
label[for="saturday"] { /* checkbox off */
  font-family: 'Lato', sans-serif;
  font-size: 10.5px;
  font-weight: 400;
  color: #c1459e;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
input:checked + label[for="sunday"],
input:checked + label[for="monday"],
input:checked + label[for="tuesday"],
input:checked + label[for="wednesday"],
input:checked + label[for="thursday"],
input:checked + label[for="friday"],
input:checked + label[for="saturday"] { /* checkbox on */
  opacity: 0.5;
  transition: .3s ease-in-out;
}

/* --- CATEGORIES END --- */

input[type=submit] {
  background: red;
  border: 0 none;
  cursor: pointer;
  width: 32.3%;
  height: 38px;
  padding: 10px;
  background-color: rgba(158, 11, 142, 0.6);
  color: white;
  opacity: 0.9;
  transition: all 0.6s ease;
  margin-top: 18px;
  margin-bottom: 57px;
}
input[type=submit]:hover {
  background-color: rgba(158, 11, 142, 0.9);
  box-shadow: 0 0 5px rgba(125, 125, 125, 0.2);
  color: rgba(255, 255, 255, 0.8);

}

.cancel-container {
  margin-top: -58px;
  /* margin-bottom: -20px !important; */
}

.cancel-button {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 10.5px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease;
}
.cancel-button:hover {
  color: rgba(255, 255, 255, 1);
}
