body {
  margin: 30px;
  background: url("/images/trianglify2.svg") no-repeat;
  background-size: cover;
}

.plumtree-logo {
  /* text-shadow: 0 0 10px rgba(80, 80, 80, 0.3); */
  padding: 20px 30px 30px 30px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 31px;
  color: white;
  position: absolute;
  font-style: italic;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* .middle {
    display: table-cell;
    vertical-align: middle;
} */




.full-wrap-container {
  padding: 20px;
  margin: 50px;
  max-width: 700px;
  background-color: rgb(255, 255, 255, 0.3);
  margin: 0 auto;
}

.image-child {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: ;
  grid-gap: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}
.title-date-container, .price-container, .description-container {
/*   background-color: rgb(255, 255, 255, 0.5); */
}
.title-date-container {
  grid-column: 1/8;
  text-align: left;
  padding-top: 23px;
}
.title-container {
  font-size: 30px;
}
.date-container {
  font-size: 11px;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.7);
}
.description-container {
  color: rgb(255, 255, 255, 0.8);
  padding-top: 7px;
  padding-right: 18px;
  grid-column: 1/8;
  text-align: left;
}
.date-posted {
  font-size: 13px;
}
.price-container {
  grid-column: 8/12;
  grid-row: 1/2;
  text-align: center;
  font-size: 30px;
}

.description-container {
  grid-row: 2/5;
  font-size: 15px;
}

.edit-container {
  background-color: rgba(255, 255, 255, 0.65);
  color: rgba(196, 41, 153, 0.77);
  grid-column: 8/10;
  width: 90px;
  transition: all 0.6s ease;
}

.sold-container {
  grid-column: 8/12;
  margin-top: 10px;
  margin-bottom: 5px;

}

.delete-container {
  grid-column: 10/12;
  width: 90px;
}

.sold-container, .edit-container, .delete-container {
  font-size: 10px;
  text-align: center;
  height: 20px;
}

.sold-child, .edit-child, .delete-child {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


a {
  text-decoration: none;
  color: rgba(196, 41, 153, 0.77);
  font-weight: 500;
}


.sold-button {
  width: 190px;
  height: 20px;
}
.delete-button {
  width: 90px;
  height: 20px;
}


input[type=submit] {
  border: 0 none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.65);
  color: rgba(196, 41, 153, 0.77);
  opacity: 0.9;
  transition: all 0.6s ease;
}
input[type=submit]:hover, .edit-container:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(196, 41, 153, 1);

}


.cancel-container {
  /* margin-bottom: -20px !important; */
  text-align: center;
  position: absolute;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 1px;
  right: 0;
  left: 0;
  width: 200px;
  height: 10px;

}

.cancel-button {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 10.5px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease;
}
.cancel-button:hover {
  color: rgba(255, 255, 255, 1);
}
