<form action="/adverts/search" method="post">
    <input type="text" name="search-results">
    <input type="radio" name="search-options" value="title"> By Title
    <input type="submit" value="Search">
</form>