<!DOCTYPE html>
<html>
    <head>
        <title>Plumtree</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/style.css">

        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700" rel="stylesheet">
    </head>
    <body>

    <!--<form method="post">-->

        <!--<input type="text" name="search-results">-->
        <!--<input type="submit" formaction="/adverts/search/title" value="Search by Title">-->

    <!--</form>-->


        #parse($template)


    </body>
</html>