<!DOCTYPE html>
<html>
    <head>
        <title>Plumtree</title>
    </head>
    <body>

    <!--<form method="post">-->

        <!--<input type="text" name="search-results">-->
        <!--<input type="submit" formaction="/adverts/search/title" value="Search by Title">-->

    <!--</form>-->


        #parse($template)


    </body>
</html>