<!DOCTYPE html>
<html>
    <head>
        <title>Plumtree</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

    <form method="post">
        <input type="text" name="search-results">
        <input type="submit" formaction="/adverts/search/title" value="Search by Title">
        <input type="submit" formaction="/adverts/search/price" value="Search by Price">
    </form>

    <div>
        #parse($template)
    </div>

    </body>
</html>